/* BASE
============================================================================ */

::selection {
    background: $color-primary;
    color: $color-font-light;
}

html {
    font-size: $font-size-default;
}

html,
body {
    text-rendering: optimizeLegibility;
}

body {
    max-height: 100%;
    background-color: $color-black;
    color: $color-font-base;
    font-family: $font-family-primary;
    font-size: $font-size-base;
    line-height: $line-height-base;
}

.theme {
    &--dark {
        background-color: $color-black;
    }

    &--light {
        background-color: $color-gray-lighter;
    }
}


.main {
    min-height: calc(100vh - 194px);
    display: flex;
    flex-direction: column;

    > .row,
    > .row > .col-xs-12 {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    > .row > .col-xs-12 > *{
        flex: 1;
    }
}

.title {
    margin: {
        top: 50px;
        bottom: 100px;
    }
    color: $color-primary;
    font-size: 6rem;
    font-weight: $font-weight-lighter;
    text-align: center;
    text-transform: uppercase;
}

a {
    color: $color-font-light;
    transition: color 0.3s;

    &:hover {
        color: $color-primary;
    }
}


/* need rework
body {
    .header,
    .header-logo,
    .header-search,
    .header-navigation {
        transform: translateY(-100%);

    }

    .header {
        transition: transform 1s;

    }
    .header-navigation {
        transition: transform 3s;

    }
    .header-search,
    .header-logo {
        transition: transform 2s;

    }
    > main {
        opacity: 0;
        transition: opacity 2s;
    }


    &::after {
        content: "";
        position: fixed;
        top: 0;
        height: 500px;
        width: 500px;
        background: red;
    }
}

.loaded {
    .header,
    .header-logo,
    .header-search,
    .header-navigation {
        transform: translateY(0);
    }


    > main {
        opacity: 1;
    }


}


@keyframes header {
    0% {
      transform: translateY(-100%);
    } 100% {
      transform: translateY(0);
    }
  }
*/
