/* GRID
============================================================================ */
/*------------------------------------
Usable as the following examples:
    - Grid:
        .col-xs-12
    - Container:
        .container
        .row
Configuration at ./settings/_settings.scss
------------------------------------*/

// TODO: configure flex grid ore css grid

// Settings for settings.scss
$grid-value-columns:                    $grid-columns !default;
$grid-value-columns-gutter:             $grid-columns-gutter !default;

$grid-value-container-gutter:           $grid-container-gutter !default;
$grid-value-container-breakpoints:      $grid-container-breakpoints !default;
$grid-value-get-breakpoints:            $grid-get-breakpoints !default;

// Settings
$grid-value-name-container:             "container" !default;
$grid-value-name-row:                   "row" !default;
$grid-value-name-col:                   "col" !default;

// Grid Container
.#{$grid-value-name-container} {
    margin-right: auto;
    margin-left: auto;
    padding-right: ($grid-value-columns-gutter * 2);
    padding-left: ($grid-value-columns-gutter * 2);

    @include mq($from: sm) {
        padding-right: $grid-value-columns-gutter;
        padding-left: $grid-value-columns-gutter;
    }

    &::before,
    &::after {
        content: "";
        display: table;
    }

    &::after {
        clear: both;
    }

    @each $breakpoint-name, $breakpoint-value in $mq-breakpoints {
        @if $grid-value-get-breakpoints == $grid-value-container-breakpoints {
            @each $container-breakpoints in $grid-value-container-breakpoints {
                @if ($breakpoint-name == $container-breakpoints) {
                    @include mq($from: $breakpoint-name) {
                        width: inherit;
                        max-width: $breakpoint-value;
                    }
                }
            }
        } @else {
            @each $container-width-name, $container-width-value in $mq-container-width {
                @if ($breakpoint-name == $container-width-name) {
                    @if $breakpoint-name != xs {
                        @include mq($from: $breakpoint-name) {
                            width: inherit;
                            max-width: $container-width-value;
                        }
                    } @else {
                        width: inherit;
                        max-width: $container-width-value;
                    }
                }
            }
        }
    }

    &--maxwidth {
        max-width: initial;
    }
}

// Grid Row
.#{$grid-value-name-row} {
    margin-right: -$grid-value-columns-gutter;
    margin-left: -$grid-value-columns-gutter;

    &::before,
    &::after {
        content: "";
        display: table;
    }

    &::after {
        clear: both;
    }
}

// Grid Column Default Styles
%grid-generator-col-styles {
    position: relative;
    min-height: 1px;
    padding-right: $grid-value-columns-gutter;
    padding-left: $grid-value-columns-gutter;
    float: left;
}

@mixin grid-generator-col-default {
    @each $breakpoint-name, $breakpoint-value in $mq-breakpoints {
        @for $i from 1 through $grid-value-columns {
            .#{$grid-value-name-col}-#{$breakpoint-name}-#{$i} {
                @extend %grid-generator-col-styles;
            }
        }
    }
}

@include grid-generator-col-default;

// Grid Columns
@mixin grid-generator($size, $grid-value-columns) {
    @for $i from 1 through $grid-value-columns {
        .#{$grid-value-name-col}-#{$size}-#{$i} {
            width: percentage($i / $grid-value-columns);
        }
    }
}

@each $breakpoint-name, $breakpoint-value in $mq-breakpoints {
    @if $breakpoint-name != xs {
        @include mq($from: $breakpoint-value) {
            @include grid-generator($breakpoint-name, $grid-value-columns);
        }
    } @else {
        @include grid-generator($breakpoint-name, $grid-value-columns);
    }
}

// Grid Equal Height
.#{$grid-value-name-col}-equal {
    @include mq($from: md) {
        display: flex;
        flex-wrap: wrap;
    }

    > * > * {
        @include mq($from: md) {
            height: 100%;
        }
    }
}
