/* SETTINGS (CSS-MAP)
============================================================================ */
//------------------------------------
//  #CSS Map  Variables
/*------------------------------------
CSS values can be used as the following examples:
  - color: value(color, dark);
IMPORTANT: only usful if stylint can do it
------------------------------------*/

$settings: (
    size: (
        default:                $font-size-base,
        small:                  $font-size-small,
        medium:                 $font-size-medium,
        regular:                $font-size-base,
        large:                  $font-size-large,
        xlarge:                 $font-size-xlarge,
        huge:                   $font-size-huge,
    ),
    family: (
        primary:                $font-family-primary,
        second:                 $font-family-second
    ),
    lineheight: (
        small:                  $line-height-none,
        base:                   $line-height-base
    ),
    color: (
        primary:                $color-primary,
        primarylight:           $color-primary-light,
        primarydark:            $color-primary-dark,
        neutralbase:            $color-gray-base,
        neutrallight:           $color-gray-light,
        neutrallighter:         $color-gray-lighter,
        neutraldark:            $color-gray-dark,
        neutraldarker:          $color-gray-darker,
        neutralsuccess:         $color-success,
        neutralinfo:            $color-info,
        neutralwarning:         $color-warning,
        neutralalert:           $color-alert,
    )
) !default;
