/* SFX-SETTINGS
============================================================================
	1. Close Icon
	2. Custom Scrollbar
	3. Internet Explorer Fix
	4. Link Disable
    5. Multi Boxes
    6. Text Background
    7. Text Slide
    8. Toggle
    9. burgermenu
============================================================================ */
/*
 * Settings Variables for alle special effects elements
 */

//------------------------------------
//      #Close Icon
//------------------------------------
$setting-sfxCloseIcon-size:                 50px !default;
$setting-sfxCloseIcon-line-height:          $spacing-tiny !default;
$setting-sfxCloseIcon-color:                $color-gray-lighter !default;
$setting-sfxCloseIcon-color-hover:          $color-primary !default;
$setting-sfxCloseIcon-transition:           all 0.3s ease-out !default;

//------------------------------------
//      #Custom Scrollbar
//------------------------------------
$setting-sfxCustomScrollbar-size:           12px !default;
$setting-sfxCustomScrollbar-border-radius:  10px !default;
$setting-sfxCustomScrollbar-color:          $color-primary-dark !default;
$setting-sfxCustomScrollbar-color-bar:      $color-gray-light !default;
$setting-sfxCustomScrollbar-color-bar-hover:$color-gray-lightest !default;

//------------------------------------
//      #Internet Explorer Fix
//------------------------------------
$setting-sfcInternetExplorerFix-enable:                  true !default;
$setting-sfcInternetExplorerFix-color-background:        rgb(11, 11, 11) !default;
$setting-sfcInternetExplorerFix-color-font:              rgb(232, 156, 174) !default;
$setting-sfcInternetExplorerFix-spacing-top:             50px !default;
$setting-sfcInternetExplorerFix-font-size-title:         100px !default;
$setting-sfcInternetExplorerFix-font-size-text:          30px !default;
$setting-sfcInternetExplorerFix-content-title:           "GO AWAY!" !default;
$setting-sfcInternetExplorerFix-content-text:            "this page is blocked for internet explorer users" !default;

//------------------------------------
//      #Link Disable
//------------------------------------
$setting-sfxDisableLink-transition:                       all 0.3s !default;
$setting-sfxDisableLink-height:                           1px !default;
$setting-sfxDisableLink-color:                            $color-font-dark !default;
$setting-sfxDisableLink-color-active:                     $color-font-light !default;

//------------------------------------
//      #Multi Boxes
//------------------------------------
$setting-sfxMultiBoxes-color:                           $color-gray-base !default;
$setting-sfxMultiBoxes-transition:                      all 0.3s !default;
$setting-sfxMultiBoxes-rotate-size:                     2 !default;
$setting-sfxMultiBoxes-rotate-size-hover:               4 !default;

//------------------------------------
//      #Text Background
//------------------------------------
$setting-sfxTextBackground-transition:                  all 0.3s !default;
$setting-sfxTextBackground-color:                       $color-primary !default;
$setting-sfxTextBackground-color-hover:                 $color-primary-dark !default;
$setting-sfxTextBackground-color-active:                $color-primary-light !default;
$setting-sfxTextBackground-spacing:                     4px !default;

//------------------------------------
//      #Text Slide
//------------------------------------
$setting-sfxTextSlide-transition:                       padding-left 0.3s !default;
$setting-sfxTextSlide-slide-size:                       $spacing-tiny !default;

//------------------------------------
//      #Text Underline
//------------------------------------
$setting-sfxTextUnderline-transition:                   all 0.3s !default;
$setting-sfxTextUnderline-border-size:                  2px !default;
$setting-sfxTextUnderline-color:                        $color-primary !default;
$setting-sfxTextUnderline-color-active:                 $color-primary-dark !default;

//------------------------------------
//      #Toggle
//------------------------------------
$setting-sfcToggle-color:                               red !default;
$setting-sfcToggle-color-active:                        green !default;

//------------------------------------
//      #burgermenu
//------------------------------------
$setting-sfxBurgermenu-hideElement:                     "navigation" !default;

$setting-sfxBurgermenu-size:                            50px !default;
$setting-sfxBurgermenu-color:                           $color-gray-lighter !default;
$setting-sfxBurgermenu-color-hover:                     $color-primary !default;
$setting-sfxBurgermenu-color-close-hover:               $color-primary-dark !default;
$setting-sfxBurgermenu-background:                      transparent !default;
$setting-sfxBurgermenu-background-hover:                transparent !default;
$setting-sfxBurgermenu-lineheavy:                       round(($setting-sfxBurgermenu-size) / 16) !default;
$setting-sfxBurgermenu-spacing:                         round(($setting-sfxBurgermenu-lineheavy) * 4) !default;
$setting-sfxBurgermenu-transition:                      all 0.3s !default;

$setting-sfxBurgermenu-text:                            false !default;
$setting-sfxBurgermenu-animation:                       true !default;

//------------------------------------
//      #Universe
//------------------------------------
// No Settings
