/* SFX - CLOSE ICON
============================================================================ */
/*------------------------------------
* Close Icon
* sfx for Close Icon
------------------------------------*/
$sfxCloseIcon-size:              $setting-sfxCloseIcon-size !default;
$sfxCloseIcon-line-height:       $setting-sfxCloseIcon-line-height !default;
$sfxCloseIcon-color:             $setting-sfxCloseIcon-color !default;
$sfxCloseIcon-color-hover:       $setting-sfxCloseIcon-color-hover !default;
$sfxCloseIcon-transition:        $setting-sfxCloseIcon-transition !default;

%sfxCloseIcon {
    position: relative;
    width: $sfxCloseIcon-size;
    height: $sfxCloseIcon-size;
    line-height: $sfxCloseIcon-size;
    z-index: 9999;

    &::before,
    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: $sfxCloseIcon-size;
        height: $sfxCloseIcon-line-height;
        margin-top: -$sfxCloseIcon-line-height / 2;
        margin-left: -$sfxCloseIcon-size / 2;
        background-color: $sfxCloseIcon-color;
        transform: rotate(-45deg);
        transition: $sfxCloseIcon-transition;
    }

    &::after {
        transform: rotate(-135deg);
    }

    &:hover {

        &::before,
        &::after {
            background-color: $sfxCloseIcon-color-hover;
            transform: rotate(0deg);
        }
    }
}
