/* ANIMATIONS
============================================================================
	1. Text Full Background Hover
    2. Text Slide Left
    3. Close Icon
============================================================================ */

/* SFX - CUSTOM SCROLLBAR
============================================================================ */
/*------------------------------------
* CustomScrollbar
* @include sfxCustomScrollbar;
------------------------------------*/
$sfxCustomScrollbar-size:           $setting-sfxCustomScrollbar-size !default;
$sfxCustomScrollbar-border-radius:  $setting-sfxCustomScrollbar-border-radius !default;
$sfxCustomScrollbar-color:          $setting-sfxCustomScrollbar-color !default;
$sfxCustomScrollbar-color-bar:      $setting-sfxCustomScrollbar-color-bar !default;
$sfxCustomScrollbar-color-bar-hover:$setting-sfxCustomScrollbar-color-bar-hover !default;

@mixin sfxCustomScrollbar {
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: $sfxCustomScrollbar-size;
        cursor: pointer;
    }

    &::-webkit-scrollbar-track {
        border-radius: $sfxCustomScrollbar-border-radius;
        background-color: $sfxCustomScrollbar-color;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: $sfxCustomScrollbar-border-radius;
        background-color: $sfxCustomScrollbar-color-bar;

        &:hover {
            background-color: $sfxCustomScrollbar-color-bar-hover;
        }
    }
}
