/* IE FIX (pure CSS)
============================================================================ */
/*
* Hide the page for Internet Explorer User. Nobody wants them
* Disable all Styling and events
* Only include this File
*/

// Settings
/* enable or disable this feature */
$sfcInternetExplorerFix-enable:                  $setting-sfcInternetExplorerFix-enable !default;
$sfcInternetExplorerFix-color-background:        $setting-sfcInternetExplorerFix-color-background !default;
$sfcInternetExplorerFix-color-font:              $setting-sfcInternetExplorerFix-color-font !default;
$sfcInternetExplorerFix-spacing-top:             $setting-sfcInternetExplorerFix-spacing-top !default;
$sfcInternetExplorerFix-font-size-title:         $setting-sfcInternetExplorerFix-font-size-title !default;
$sfcInternetExplorerFix-font-size-text:          $setting-sfcInternetExplorerFix-font-size-text !default;
$sfcInternetExplorerFix-content-title:           $setting-sfcInternetExplorerFix-content-title !default;
$sfcInternetExplorerFix-content-text:            $setting-sfcInternetExplorerFix-content-text !default;

@if $sfcInternetExplorerFix-enable == true {

    body {
        /* hide the styling for everyone else except */
        &::before,
        &::after {
            display: none !important;
            pointer-events: none;
        }
    }

    /* CSS Hack for only IE Browser */
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        body {
            /* reset all */
            all: initial;

            /* Set background color */
            background-color: $sfcInternetExplorerFix-color-background !important;

            /* Hide all elements fore IE */
            * {
                display: none !important;
                pointer-events: none;

                &::before,
                &::after {
                    display: none !important;
                    pointer-events: none;
                }
            }

            /* Styling for content shown */
            &::after,
            &::before {
                content: "";
                display: block !important;
                color: $sfcInternetExplorerFix-color-font;
                text-align: center;
            }

            &::before {
                content: $sfcInternetExplorerFix-content-title;
                margin-top: $sfcInternetExplorerFix-spacing-top;
                font-size: $sfcInternetExplorerFix-font-size-title;
            }

            &::after {
                content: $sfcInternetExplorerFix-content-text;
                font-size: $sfcInternetExplorerFix-font-size-text;
            }
        }
    }
}
