/* SFX - LINK DISABLE
============================================================================ */
/*------------------------------------
* Disabled Link
------------------------------------*/
$sfxDisableLink-transition:           $setting-sfxDisableLink-transition !default;
$sfxDisableLink-height:               $setting-sfxDisableLink-height !default;
$sfxDisableLink-color:                $setting-sfxDisableLink-color !default;
$sfxDisableLink-color-active:         $setting-sfxDisableLink-color-active !default;

%sfxDisableLink {
    display: inline-block;
    position: relative;
    color: $sfxDisableLink-color;
    cursor: default;
    pointer-events: none;

    &::before,
    &::after {
        all: initial;
    }

    &::after {
        content: "";
        display: block;
        position: absolute;
        top: -50%;
        width: calc(100% + 10px);
        height: 100%;
        margin-left: -5px;
        border-bottom: $sfxDisableLink-height solid $sfxDisableLink-color;
        background-color: transparent;
        transition: $sfxDisableLink-transition;
    }

    &::before {
        content: "disabled";
        display: none;
        position: absolute;
        top: -16px;
        padding: 3px;
        background-color: $color-gray-dark;
        font-family: $font-family-primary;
        font-size: 14px;
        text-transform: uppercase;
        pointer-events: none;
    }

    &:active,
    &:focus,
    &:hover {
        color: $sfxDisableLink-color;

        animation-name: sfxDisableLinkColor;
        animation-duration: 1s;

        &::after {
            animation-name: sfxDisableLink;
            animation-duration: 0.5s;
        }

        &::before {
            display: inline-block;
            width: auto;

            color: $sfxDisableLink-color-active;
        }
    }
}


@keyframes sfxDisableLink {
    0% {
        left: -10px;
    }
    50%{
        left: 10px;
    }
    100%{
        left: 0;
    }
}

@keyframes sfxDisableLinkColor {
    0% {
        color: $sfxDisableLink-color;
    }
    20%{
        color: $sfxDisableLink-color-active;
    }
    20%{
        color: $sfxDisableLink-color-active;
    }
    100%{
        color: $sfxDisableLink-color;
    }
}
