/* SFX - MULTI BOXES
============================================================================ */
/*------------------------------------
* Multi Boxes
* with hover effect - 2 child boxes
------------------------------------*/
$sfxMultiBoxes-color:                   $setting-sfxMultiBoxes-color!default;
$sfxMultiBoxes-transition:              $setting-sfxMultiBoxes-transition !default;
$sfxMultiBoxes-rotate-size:             $setting-sfxMultiBoxes-rotate-size !default;
$sfxMultiBoxes-rotate-size-hover:       $setting-sfxMultiBoxes-rotate-size-hover !default;

%sfxMultiBoxes {
    display: block;
    position: relative;
    transition: $sfxMultiBoxes-transition;

    &::before,
    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin-left: 0;
        transition: $sfxMultiBoxes-transition;
        z-index: -1;
    }

    &::before {
        background-color: lighten($sfxMultiBoxes-color, 2);
        transform: rotate(#{$sfxMultiBoxes-rotate-size * 2}#{deg});
    }

    &::after {
        background-color: lighten($sfxMultiBoxes-color, 10);
        transform: rotate(#{$sfxMultiBoxes-rotate-size}#{deg});
    }

    &:hover {
        &::before {
            transform: rotate(#{$sfxMultiBoxes-rotate-size-hover * 2}#{deg});
        }

        &::after {
            transform: rotate(#{$sfxMultiBoxes-rotate-size-hover}#{deg});
        }
    }
}
