/* SFX - TEXT UNDERLINE
============================================================================ */
/*------------------------------------
* Underline text if hover
* effect from middle to let and right
------------------------------------*/
$sfxTextUnderline-transition:           $setting-sfxTextUnderline-transition !default;
$sfxTextUnderline-border-size:          $setting-sfxTextUnderline-border-size !default;
$sfxTextUnderline-color:                $setting-sfxTextUnderline-color !default;
$sfxTextUnderline-color-active:         $setting-sfxTextUnderline-color-active !default;

@mixin sfxTextUnderline {
    display: block;
    background-color: transparent;
    transition: $sfxTextUnderline-transition;

    &::after {
        content: "";
        display: block;
        border-bottom: solid $sfxTextUnderline-border-size $sfxTextUnderline-color;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
    }

    &:hover {
        color: $sfxTextUnderline-color;

        * {
            color: $sfxTextUnderline-color;
        }

        &::after {
            transform: scaleX(1);
        }
    }

    &:active {
        color: $sfxTextUnderline-color-active;

        * {
            color: $sfxTextUnderline-color;
        }

        &::after {
            transform: scaleX(1);
        }
    }
}
