/* SFX - TEXT SLIDE
============================================================================ */
/*------------------------------------
* Text Slide Left
* Little Slide to right hover sfx
------------------------------------*/
$sfxTextSlide-transition: $setting-sfxTextSlide-transition !default;
$sfxTextSlide-slide-size: $setting-sfxTextSlide-slide-size !default;

%sfxTextSlide {
    transition: $sfxTextSlide-transition;

    &:hover {
        padding-left: $sfxTextSlide-slide-size;
    }
}
