/* SFX - TEXT BACKGROUND HOVER
============================================================================ */
/*------------------------------------
* Text Full Background Hover
* Hover Animation with background from left to right
------------------------------------*/
$sfxTextBackground-transition:          $setting-sfxTextBackground-transition !default;
$sfxTextBackground-color:               $setting-sfxTextBackground-color !default;
$sfxTextBackground-color-hover:         $setting-sfxTextBackground-color-hover !default;
$sfxTextBackground-color-active:        $setting-sfxTextBackground-color-active !default;
$sfxTextBackground-spacing:             $setting-sfxTextBackground-spacing !default;

%sfxTextBackground {
    display: inline-block;
    position: relative;
    background: none;
    transition: $sfxTextBackground-transition;
    z-index: 0;

    &::before,
    &::after {
        content: "";
        display: inline-block;
        position: absolute;
        transition: $sfxTextBackground-transition;
    }
    &::after,
    &::before {
        top: 0;
        right: 0;
        left: -#{$sfxTextBackground-spacing};
        width: 0;
        height: calc(100% - (#{$sfxTextBackground-spacing} / 2));
        background-color: $sfxTextBackground-color;
        z-index: -1;
    }

    &:hover {
        color: $color-white;

        &::before {
            width: calc(100% + (#{$sfxTextBackground-spacing} * 2));
        }
    }

    &:active {
        &::before {
            background-color: $sfxTextBackground-color-hover;
        }
        &::after {
            width: calc(100% + (#{$sfxTextBackground-spacing} * 2));
            background-color: $sfxTextBackground-color-active;
        }
    }
}
