/* SFX - TOGGLE
============================================================================ */
/*------------------------------------
* Toggle switch form
* left to right
   <label class="sfxToggle">
            <input class="sfxToggle-checkbox" type="checkbox">
            <div class="sfxToggle-switch"></div>
            <span class="sfxToggle-label">Wi-fi</span>
        </label>
------------------------------------*/
$sfcToggle-color:               $setting-sfcToggle-color !default;
$sfcToggle-color-active:        $setting-sfcToggle-color-active !default;

.sfxToggle {
    cursor: pointer;
    display: inline-block;

    &:hover {
        &::before {
            background: linear-gradient(to bottom, #fff 0%,#fff 100%);
            box-shadow: 0 0 0 1px rgba(0,0,0,0.5);
        }
    }



    &-label {
        position: relative;
        top: 2px;
        margin-left: 5px;
    }

    &-switch {
        position: relative;

        display: inline-block;
        width: 58px;
        height: 32px;
        border-radius: 16px;
        background: #ccc;
        vertical-align: middle;
        transition: all 0.3s;

        &:before,
        &:after {
            content: "";
        }

        &:before {
            display: block;
            position: absolute;
            top: 4px;
            left: 4px;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background: linear-gradient(to bottom, #fff 0%,#eee 100%);
            box-shadow: 0 0 0 1px rgba(0,0,0,0.25);
            transition: left 0.25s;
        }
    }

    &-checkbox {
        position: absolute;
        visibility: hidden;

        &:checked + .sfxToggle-switch {
            background: $sfcToggle-color-active;

            &::before {
                left: 30px;
            }
        }
    }
}


