/* SFX Universe
============================================================================ */
/*------------------------------------
* Generate a universe with starsystem
*
* Usage:
<div class="universe">
    <div class="universe-fogs universe-fogs--left"></div>
    <div class="universe-fogs universe-fogs--bottom"></div>
    <div class="universe-stars universe-stars--small"></div>
    <div class="universe-stars universe-stars--middle"></div>
    <div class="universe-stars universe-stars--large"></div>
</div>
------------------------------------*/

$sfxUniverse-size:                                 2000px !default;
$sfxUniverse-sun-color:                            #FFFFFF !default;
$sfxUniverse-sun-size:                             1px !default;
$sfxUniverse-sun-amount-small:                     500 !default;
$sfxUniverse-sun-amount-medium:                    200 !default;
$sfxUniverse-sun-amount-big:                       100 !default;
$sfxUniverse-sun-animation-speed:                  400s !default;
$sfxUniverse-background-gradient-top:              #1B2735 !default;
$sfxUniverse-background-gradient-bottom:           #090A0F !default;
$sfxUniverse-fog-1-background-gradient-top:        #0000FF !default;
$sfxUniverse-fog-1-background-gradient-bottom:     #FF0000 !default;

@function universe-planets ($amount) {
    $value: '#{random($sfxUniverse-size)}px #{random($sfxUniverse-size)}px #{$sfxUniverse-sun-color}';

    @for $i from 2 through $amount {
        $value: '#{$value} , #{random($sfxUniverse-size)}px #{random($sfxUniverse-size)}px #{$sfxUniverse-sun-color}';
    }

    @return unquote($value);
}

$sfxUniverse-suns-amount-small:                    universe-planets($sfxUniverse-sun-amount-small) !default;
$sfxUniverse-suns-amount-medium:                   universe-planets($sfxUniverse-sun-amount-medium) !default;
$sfxUniverse-suns-amount-big:                      universe-planets($sfxUniverse-sun-amount-big) !default;

.universe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    background: radial-gradient(ellipse at bottom, #{$sfxUniverse-background-gradient-top} 0%, #{$sfxUniverse-background-gradient-bottom} 100%);

    &-fogs {
        position: absolute;
        bottom: 0;
        filter: blur(400px);

        &--left {
            top: 0;
            right: 0;
            width: 100px;
            background: radial-gradient(ellipse at bottom, #{$sfxUniverse-fog-1-background-gradient-top} 0%, #{$sfxUniverse-fog-1-background-gradient-bottom} 100%);
            animation: universeAnimateBackgroundX 200s linear infinite;
        }

        &--bottom {
            bottom: 0;
            width: 100vw;
            height: 100px;
            background: radial-gradient(ellipse at bottom, #{$sfxUniverse-fog-1-background-gradient-top} 0%, #{$sfxUniverse-fog-1-background-gradient-bottom} 100%);
            opacity: 0.5;
            animation: universeAnimateBackgroundY 300s linear infinite;
        }
    }

    &-stars {
        background: transparent;
        filter: blur(1px);

        &--small {
            width: $sfxUniverse-sun-size;
            height: $sfxUniverse-sun-size;
            box-shadow: $sfxUniverse-suns-amount-small;
            animation: universeAnimateStar $sfxUniverse-sun-animation-speed linear infinite;
        }

        &--middle {
            width: ($sfxUniverse-sun-size * 2);
            height: ($sfxUniverse-sun-size * 2);
            box-shadow: $sfxUniverse-suns-amount-medium;
            animation: universeAnimateStar ($sfxUniverse-sun-animation-speed * 1.5) linear infinite;
        }

        &--large {
            width: ($sfxUniverse-sun-size * 3);
            height: ($sfxUniverse-sun-size * 3);
            box-shadow: $sfxUniverse-suns-amount-big;
            animation: universeAnimateStar ($sfxUniverse-sun-animation-speed * 2) linear infinite;
        }
    }
}

@keyframes universeAnimateStar {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-#{$sfxUniverse-size});
    }
}

@keyframes universeAnimateBackgroundX {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-#{$sfxUniverse-size});
    }
}


@keyframes universeAnimateBackgroundY {
    from {
        transform: translateY(0)
    }

    to {
        transform: translateY(-#{$sfxUniverse-size})
    }
}
