/* burgermenu (pure CSS)
========================================================================= */
/*
* Burgermenu with X-Close-Icon and animation
* realized with html checkbox
*
* Usage
* Include this code below
*
* <input type="checkbox" id="burgermenu">
* <label class="burgermenu-Label" for="burgermenu">
*    <span class="burgermenu-Text">Menü</span>
* </label>
*/

// class-name of next navigation element
$sfxBurgermenu-hideElement:        "nav" !default;

$sfxBurgermenu-size:               $setting-sfxBurgermenu-size !default;
$sfxBurgermenu-color:              $setting-sfxBurgermenu-color !default;
$sfxBurgermenu-color-hover:        $setting-sfxBurgermenu-color-hover !default;
$sfxBurgermenu-color-close-hover:  $setting-sfxBurgermenu-color-close-hover !default;
$sfxBurgermenu-background:         $setting-sfxBurgermenu-background !default;
$sfxBurgermenu-background-hover:   $setting-sfxBurgermenu-background-hover !default;
$sfxBurgermenu-lineheavy:          $setting-sfxBurgermenu-lineheavy !default;
$sfxBurgermenu-spacing:            $setting-sfxBurgermenu-spacing !default;
$sfxBurgermenu-transition:         $setting-sfxBurgermenu-transition !default;

$sfxBurgermenu-text:               $setting-sfxBurgermenu-text !default;
$sfxBurgermenu-animation:          $setting-sfxBurgermenu-animation !default;

/* stylelint-disable selector-max-id, selector-max-specificity, no-duplicate-selectors */

#burgermenu {
    display: none;
}

/* Hide burgermenu */
@include mq($from: xl) {
    #burgermenu {
        display: none;

        // burgermenu Icon
        + .burgermenu-Label {
            display: none;
        }
    }
}

/* Show burgermenu */
@include mq($until: xl) {
    #burgermenu {
        // burgermenu Icon
        + .burgermenu-Label {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: $sfxBurgermenu-size;
            height: $sfxBurgermenu-size;
            margin: 0;
            border: 10px solid $sfxBurgermenu-background;
            border-top: 15px solid $sfxBurgermenu-background;
            background-color: $sfxBurgermenu-background;
            user-select: none;
            z-index: 99;

            &::after,
            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: $sfxBurgermenu-lineheavy;
                backface-visibility: hidden;
                background-color: $sfxBurgermenu-color;

                @if $sfxBurgermenu-animation == true {
                    transition: $sfxBurgermenu-transition;
                }
            }

            &::after {
                top: $sfxBurgermenu-spacing;
                box-shadow: 0 $sfxBurgermenu-spacing 0 0 $sfxBurgermenu-color;
            }

            /* hover effects */
            &:hover {
                background-color: $sfxBurgermenu-background-hover;
                cursor: pointer;

                &::after,
                &::before {
                    background-color: $sfxBurgermenu-color-hover;
                }

                &::after {
                    box-shadow: 0 12px 0 0 $sfxBurgermenu-color-hover;
                }
            }
        }

        // Text
        + .burgermenu-Label {
            .burgermenu-Text {
                display: none;

                @if $sfxBurgermenu-text == true {
                    display: block;
                    color: $sfxBurgermenu-color;
                    margin: {
                        top: -5px;
                        left: 28px;
                    }
                }
            }
        }

        /* Close Icon, animated from burgermenu */
        &:checked {
            ~ .burgermenu-Label {
                &::after,
                &::before {
                    top: $sfxBurgermenu-spacing;
                    background-color: $sfxBurgermenu-color-hover;
                }

                &::after {
                    box-shadow: none;
                    transform: rotate(-45deg);
                }

                &::before {
                    transform: rotate(45deg);
                }

                * {
                    color: $sfxBurgermenu-color-hover;
                }

                &:hover {
                    &::after,
                    &::before {
                        background-color: $sfxBurgermenu-color-close-hover;
                    }
                }
            }
        }

        // Hide Navigation
        + .burgermenu-Label {
            display: block;

            ~ .#{$sfxBurgermenu-hideElement} {
                max-height: 0;
                overflow: hidden;
                transform: translateZ(999px);

                @if $sfxBurgermenu-animation == true {
                    transition: $sfxBurgermenu-transition;
                }
            }
        }

        // Show Navigation
        &:checked {
            + .burgermenu-Label {
                background-color: $sfxBurgermenu-background-hover;

                &:hover {
                    background-color: $sfxBurgermenu-background;
                }

                ~ .#{$sfxBurgermenu-hideElement} {
                    max-height: 100vh;
                    transform: translate(0);
                }
            }
        }
    }
}

/* stylelint-enable selector-max-id, selector-max-specificity, no-duplicate-selectors */
